html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
    background: url('./assets/images/bg_forest.png'); /* màu nền khi canvas nhỏ hơn màn hình */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

canvas {
    display: block; /* loại bỏ margin tự động của canvas */
    margin-left: 0 !important;
}

#rotate-msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 2em;
    font-family: 'sv-dumlings', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 40%;
    z-index: 9999;
}

/* Các nút UI */
.ui-btn {
    position: absolute;
    /* width: 5%; /* chuẩn PC */
    /* height: auto; */
    z-index: 9999;
    cursor: pointer;
    user-select: none;
    touch-action: none;
}

/* Reset: góc trên trái */
#btn-reset {
    top: 2%;
    left: 2%;
}

/* Exit: góc trên phải */
#btn-exit {
    top: 2%;
    right: 2%;
}

.ui-btn:hover {
    transform: scale(1.12);
    transition: 0.15s;
}
